@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg2.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name img{
    position: absolute;
    top: 450px;
    right: 1400px;
}


#scoreBox{
    position: absolute;
    top: 9px;
    right: 155px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 155px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: url("../img/bo.jpg");
    width: 65vmin;
    height: 72vmin;
    border-style:ridge;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(218, 238, 63), rgb(233, 233, 103));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 50px;
}

.snake{
    background-color: yellow;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient( rgb(21, 106, 45),rgb(255, 0, 0));
    border: .25vmin solid black;
    border-radius: 50px;
}
